# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Environment variables file
.env

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Dependency lock file
package-lock.json


# Config / API keys
config.js 